<div class="">
         <div class="add-form">
           <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add User</button>
         </div>

         <div class="card_list">
           <div class="col-md-12">
             <div class="col-md-3" *ngFor='let user of users'>
               <div class="card">
                 <div class="name">
                   <div class="title">Name</div>
                   <div>{{user.name}}</div>
                 </div>
                 <div class="name">
                  <div class="title">Email</div>
                  <div>{{user.email}}</div>
                </div>
                <div class="name">
                  <div class="title">Phone</div>
                  <div>{{user.phone}}</div>
                </div>
                <div class="name">
                  <div class="title">Website</div>
                  <div>{{user.website}}</div>
                </div>
                <div class="footer_btns">
                  <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" (click)="updateInfo(user)">Edit</button>
                  <button class="btn btn-sm btn-danger" (click)="deleteUserInfo(user)">Delete</button>
                </div>
               </div>
             </div>
           </div>
         </div>
 </div>

<!-- Modal popup for add User -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
       <div class="row">
         <div class="">
           <label for="name">Name</label>
           <input type="text" class="form-control" name="name" [(ngModel)]="name">
         </div>
       </div>
       <div class="row">
        <div class="">
          <label for="username">UserName</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="username">
        </div>
      </div>
      <div class="row">
        <div class="">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="email">
        </div>
      </div>
      <div class="row">
        <p>Address</p>
        <div class="col-md-3">
          <div class="">
            <label for="email">Street</label>
            <input type="email" class="form-control" name="street" [(ngModel)]="street">
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <label for="suite">Suite</label>
            <input type="text" class="form-control" name="suite" [(ngModel)]="suite">
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <label for="city">City</label>
            <input type="tect" class="form-control" name="city" [(ngModel)]='city'>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <label for="zipcode">zipcode</label>
            <input type="text" class="form-control" name="zipcode" [(ngModel)]="zipcode">
          </div>
        </div>

        <div class="col-md-3">
          <div class="">
            <label for="lat">Latitude</label>
            <input type="text" class="form-control" name="lat" [(ngModel)]="lat">
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <label for="lng">Longitide</label>
            <input type="text" class="form-control" name="lng" [(ngModel)]="lng">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" name="phone" [(ngModel)]="phone">
        </div>
      </div>
      <div class="row">
        <div class="">
          <label for="website">Website</label>
          <input type="text" class="form-control" name="website" [(ngModel)]='website'>
        </div>
      </div>
      <div class="row">
        <p>Company</p>
        <div class="col-md-3">
          <div class="">
            <label for="name">Name</label>
            <input type="name" class="form-control" name="cname" [(ngModel)]="cname">
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <label for="catchPhrase">CatchPhrase</label>
            <input type="text" class="form-control" name="catchPhrase" [(ngModel)]="catchPhrase">
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <label for="bs">bs</label>
            <input type="tect" class="form-control" name="bs" [(ngModel)]="bs">
          </div>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" *ngIf="!enablebtn" (click)="saveuserdata()">Save</button>
        <button type="button" class="btn btn-success" *ngIf="enablebtn" (click)="updateuserdata()">Update</button>
      </div>
    </div>

  </div>
</div>